mat-box{
    height: 140px;
    // width: 50px;
   
    margin-top: 30px;
    
}
.boxsize
{
    display: flex; flex-flow: row wrap;padding-left: 54px;
    
}
.con{
    padding-left: 36px;
    display: flex;
    padding-bottom: 40px;
    margin-top: 30px;
}
.con>mat-card{
padding: 25px;
width: 300px;
}
.icons{
    margin-top: 42px;
}