<div class="reg-layout">
    <div class="container">
        <div class="reg-container">
            <div class="form-head">
                  <div fxLayout="row" style="font-weight:500">
                  <span style="font-size: 30px ; color: #4285F4">F</span>
                  <span style="font-size: 30px ; color: #EA4335">u</span>
                  <span style="font-size: 30px ; color: #FBBC05">n</span>
                  <span style="font-size: 30px ; color: #4285F4">d</span>
                  <span style="font-size: 30px ; color: #34A853">o</span>
                  <span style="font-size: 30px ; color: #EA4335">o</span>
                  </div>              
              </div>
              <div class='form-account'><h1>Create your Fundoo Account</h1>
              </div>           
              <form class="form-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group" fxLayout="row" fxLayout.lt-lg="column" fxLayout.lt-lg="column" >
                      <mat-form-field appearance="outline" class="form-field" >
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" placeholder="First Name" formControlName="firstName" >
                      <mat-error>First name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="form-field">
                      <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Last Name" formControlName="lastName">
                      <mat-error>Last name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Ex: example@gmail.com" formControlName="email">
                        <mat-hint>You can use letters, numbers & periods</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group form-field">
                    <a class="btn-basic">Use my current email insted</a>
                </div>
                <div class="form-group" fxLayout="row" fxLayout.lt-lg="column" fxLayout.lt-lg="column">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-hint>Use 8 or more characters </mat-hint>
                        <mat-error>Password is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Confirm</mat-label>
                        <input matInput type="password" placeholder="Confirm" formControlName="confirmPassword">
                        <mat-error>Confirm Password is required</mat-error>
                        
                    </mat-form-field>
                </div>
                <div class="form-group form-field">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" >Show Password</mat-checkbox>
                    </section>
                </div>
                
                <div class="form-group buttons">
                  <button mat-button class="btn-basic">Sign in insted</button>
                  <button mat-raised-button type="submit" class="btn-primary" color="primary" >Signup</button>
                </div>
            </form>
        </div>
        <div class="reg-img" fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-sm>
             <img src="../../../assets/account.svg" alt=""width="244" height="244" > 
            <div class="imgtext">One account. All of Fundoo working for you.</div>
        </div>
    </div>
    </div>