.inputbox-pannel{
  border: 0px solid;
  width: 230px;
  height: 51px;
  outline: none;
  font-size: 20px;
  
  
}
.matcreatenotebox{
  width: 26%;
  margin-left: 30%;
  box-shadow: 2px 2px 2px 2px silver;
  width: fit-content;
  width: 400px;
  margin-top: 15px;
  width: 679px;
  margin-bottom: 40px;
}
.clsbtn{
  margin-left: 70px;
  
}
.sideicon{
width:22px;
margin-left: 6px;
margin-top: 20px;

}
.clsbtn{
margin-left: -10px;
margin: 2px;

}
.closetab{
  text-decoration: none;
  color: black;
  margin-left: 610px;
  margin-top: -39px;
  font-size: 8;
  font-size: .875r;
  font-size: 18px;
}
.pinsicon{
  margin-left: 415px;
  width: 26px;
  margin-top: -52px;
}
.btncls{
margin-top: -40px;
font-size: 18px;
}
.cardtopimgs{
  padding-left: 349px;

}