.inputbox-pannel{
  border: 0px solid;
  width: 230px;
  height: 51px;
  outline: none;
  font-size: 20px;
}
.matcreatenotebox{
  
  margin-left: 40%;
  box-shadow: 2px 2px 2px 2px silver;
  width: 315px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.clsbtn{
  margin-left: 70px;
  
}
.sideicon{
width:22px;
margin-left: 6px;
margin-top: 20px;

}
.clsbtn{
margin-left: -10px;
}
.closetab{
text-decoration: none;
color: black;
margin-left: 274px;
margin-top: -25px;
}
.pinsicon{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: -18px;
  margin-left: 30px;
  width: 40px;
}

.btncls{
margin-top: -40px;
font-size: 18px;
}