<!-- <app-take-note></app-take-note>-->
<!-- <app-display-note></app-display-note>  -->
<!-- <app-update-notes></app-update-notes> -->
<!-- <app-dash-board></app-dash-board> -->
<!-- <app-take-note (messageEvent)="receiveMeassage($event)"></app-take-note> -->
<app-take-note  (messageEvent)=" autotakeenote($event)"></app-take-note>
<!-- <app-display-note [childMessage]="noteArray"></app-display-note> -->
<app-display-note  [childMessage]="noteArray"(messagevent)=" autoarchive($event)" (messagevent)="autounarchive($event)" (refreshDisplay)=" iconrefresh($event)" (colorchange)=" autodispalay($event)"  > </app-display-note>
